/*Clean default formats*/

*{
	margin:0;
	padding: 0;
}

body{
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #f3f3f3;

}

h2{
	color: #b9c941;
}


#nav{
	background: #fff;
	border-bottom: 1px solid #d8d8d8;
	height: 45px;
	position: fixed;
	width: 100%;
	top: 0;

}

#area{
	width: 720px;
	margin: 0 auto;
}

#main-area{
	width: 720px;
	margin: 55px auto 10px auto;

	

}

#posts{
	background: #fff;
	padding: 10px;
	margin-bottom: 10px;
}

#menu{
	float: right;
	padding: 10px 0;
}

#logo{
	float: left;
}
/******************* Formatting Menu *************/
a{
	text-decoration: none;
	padding: 5px 10px;
}

/*Non-Visited Links*/
a:link{
	color: #838383;
}

/*Visited Links*/
a:visited{
	color: #838383;
}

/*Links hover*/
a:hover{
	color: #fff;
	background: #b9c941;
}

/*Active Links */
a:active{
	color: #535353;
}

/*************Classes*****************/
.green{
	color: #b9c941;
}

.date-posted{
	font-size: 14px;
	border-bottom: 1px solid #f4f4f4;
	display: block;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.img-posted{
	float: left;
	margin:0 10px 5px 0;
}

.posted{
	border-left: 5px solid #d8d8d8;
	padding-left: 5px;
	display: block;
	margin-top: 10px;
}